#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: 8vh;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 8px #023e8a;
}

#logo {
  width: 170px;
  height: 50px;
}

section.assignments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 100px;
}

.tic-tac-toe-container,
.calculator-container,
.dino-runner-container,
.it-assignment-3-container,
.it-assignment-4-container {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 70vw;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 80px;
}

.tic-tac-toe-slider {
  display: flex;
  width: 400%;
  animation: slide 12s infinite;
}

.tic-tac-toe-container aside h2,
.calculator-container aside h2,
.dino-runner-container aside h2,
.it-assignment-3-container > h2,
.it-assignment-4-container > h2 {
  font-size: 2rem;
  color: #023e8a;
  margin-bottom: 20px;
}

.tic-tac-toe-container aside h3,
.calculator-container aside h3,
.dino-runner-container aside h3 {
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
}

.tic-tac-toe-container aside p,
.calculator-container aside p,
.dino-runner-container aside p {
  font-size: 1.4rem;
  color: #6c757d;
  line-height: 1.5;
  padding: 10px;
}

#cal-img,
#dino-runner-img {
  width: 800px;
  height: 500px;
}

.calculator-slider .calculator,
.dino-runner-slider .dino-runner {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#source-code,
#live-demo {
  text-decoration: none;
  font-weight: bold;
  color: #023e8a;
}

#source-code:hover,
#live-demo:hover {
  text-decoration: underline;
}

.tic-tac-toe-slider .tic-tac-toe {
  width: 25%;
  height: 25%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe img {
  width: 25vw;
  height: 35vh;
  object-fit: contain;
}

@keyframes slide {
  0%,
  15% {
    transform: translateX(0);
  }
  25%,
  40% {
    transform: translateX(-25%);
  }
  50%,
  65% {
    transform: translateX(-50%);
  }
  85%,
  100% {
    transform: translateX(-75%);
  }
}

.case-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.case-box {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003566;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.case-box:hover {
  background-color: #000814;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .tic-tac-toe-container,
  .calculator-container,
  .dino-runner-container,
  .it-assignment-3-container,
  .it-assignment-4-container {
    max-width: 90vw;
  }

  .tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe img {
    width: 40vw;
    height: 25vh;
  }

  section.assignments h1 {
    font-size: 2.6rem;
  }

  .tic-tac-toe-container aside h2,
  .calculator-container aside h2,
  .dino-runner-container aside h2,
  .it-assignment-3-container > h2,
  .it-assignment-4-container > h2 {
    font-size: 1.8rem;
  }

  .tic-tac-toe-container aside h3,
  .calculator-container aside h3,
  .dino-runner-container aside h3 {
    font-size: 1.4rem;
  }

  .tic-tac-toe-container aside p,
  .calculator-container aside p,
  .dino-runner-container aside p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .case-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-box {
    height: 160px;
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .tic-tac-toe-container,
  .calculator-container,
  .dino-runner-container,
  .it-assignment-3-container,
  .it-assignment-4-container {
    max-width: 95vw;
  }

  .tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe img {
    width: 50vw;
    height: 20vh;
  }

  section.assignments h1 {
    font-size: 1.9rem;
  }

  .tic-tac-toe-container aside h2,
  .calculator-container aside h2,
  .dino-runner-container aside h2,
  .it-assignment-3-container > h2,
  .it-assignment-4-container > h2 {
    font-size: 1.5rem;
  }

  .tic-tac-toe-container aside h3,
  .calculator-container aside h3,
  .dino-runner-container aside h3 {
    font-size: 1.2rem;
  }

  .tic-tac-toe-container aside p,
  .calculator-container aside p,
  .dino-runner-container aside p {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  section.assignments {
    padding-bottom: 150px;
  }

  .case-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    padding: 20px;
  }

  .case-box {
    height: 150px;
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe img {
    width: 60vw;
    height: 15vh;
  }

  section.assignments h1 {
    font-size: 1.5rem;
  }

  .tic-tac-toe-container aside h2,
  .calculator-container aside h2,
  .dino-runner-container aside h2,
  .it-assignment-3-container > h2,
  .it-assignment-4-container > h2 {
    font-size: 1.1rem;
  }

  .tic-tac-toe-container aside h3,
  .calculator-container aside h3,
  .dino-runner-container aside h3 {
    font-size: 1rem;
  }

  .tic-tac-toe-container aside p,
  .calculator-container aside p,
  .dino-runner-container aside p {
    font-size: 0.7rem;
    line-height: 1;
  }

  section.assignments {
    padding-bottom: 250px;
  }
}

@media (max-width: 375px) {
  .tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe img {
    width: 70vw;
    height: 12vh;
  }

  section.assignments h1 {
    font-size: 1.2rem;
  }

  .tic-tac-toe-container aside h2,
  .calculator-container aside h2,
  .dino-runner-container aside h2,
  .it-assignment-3-container > h2,
  .it-assignment-4-container > h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1300px) {
  #cal-img,
  #dino-runner-img {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  #cal-img,
  #dino-runner-img {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  #cal-img,
  #dino-runner-img {
    width: 300px;
    height: 180px;
  }
}

/* .tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe button {
  background: none;
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tic-tac-toe-container .tic-tac-toe-slider .tic-tac-toe button:hover {
  color: #023e8a;
}

#cert-left {
  left: -40px;
}

#cert-right {
  right: -40px;
} */
