#badges-section {
  width: 100%;
  text-align: center;
  margin: 40px;
}

#badges-section > div > h3 {
  font-size: 1.8rem;
  color: black;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.badge-container {
  position: relative;
  display: inline-block;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 900px;
  height: auto;
  overflow: hidden;
  background-color: white;
}

.badge-slider {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}

.badge {
  width: 33%;
  height: 33%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge img {
  width: 60vw;
  height: 30vh;
  object-fit: contain;
  border-radius: 10px;
}

@keyframes slide {
  0%,
  25%,
  100% {
    transform: translateX(0);
  }
  33.33%,
  58.33% {
    transform: translateX(-33%);
  }
  66.66%,
  91.66% {
    transform: translateX(-66%);
  }
}

@media (max-width: 1440px) {
  .badge img {
    width: 60vw;
  }

  #badges-section > div > h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .badge img {
    width: 60vw;
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .badge img {
    width: 50vw;
    height: 25vh;
  }

  #badges-section > div > h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .badge img {
    width: 45vw;
    height: 23vh;
  }

  #badges-section > div > h3 {
    font-size: 1.5rem;
  }

  .badge-container {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .badge img {
    width: 40vw;
    height: 23vh;
  }

  #badges-section > div > h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .badge img {
    width: 40vw;
    height: 20vh;
  }
}

@media (max-width: 320px) {
  .badge img {
    width: 40vw;
    height: 10vh;
  }

  #badges-section > div > h3 {
    font-size: 1rem;
  }
}
