body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: 8vh;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 8px #023e8a;
}

#logo {
  width: 170px;
  height: 50px;
}

section.standalone-applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
}

section.standalone-applications h1 {
  font-size: 2.5rem;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.standalone-applications-container {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 70vw;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 50px;
}

.crms-wrapper,
.sms-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
  padding: 50px 0 50px 0;
  margin: 0 auto;
}

.crms-container,
.sms-container {
  position: relative;
  width: 900px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crms-slider,
.sms-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.cert-nav-btn {
  background: none;
  border: none;
  margin: 0 55px;
}

.cert-nav-btn i {
  font-size: 5em;
  color: #023e8a;
  transition: all 0.3s ease;
}

.cert-nav-btn:hover i {
  color: black;
  transform: scale(1.1);
}

.crms-slider > div,
.sms-slider > div {
  position: absolute;
  background-size: cover;
  background-position: center;
  box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 800px;
  height: 520px;
  z-index: 2;
}

.crms-slider > div:hover,
.sms-slider > div:hover {
  box-shadow: 0 0 20px #023e8a;
}

.standalone-applications-container aside h2 {
  font-size: 2rem;
  color: #023e8a;
  margin-bottom: 20px;
}

.standalone-applications-container aside h3 {
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
}

.standalone-applications-container aside p {
  font-size: 1.4rem;
  color: #6c757d;
  line-height: 1.5;
  padding: 10px;
}

#source-code {
  text-decoration: none;
  font-weight: bold;
  color: #023e8a;
}

#source-code:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  section.standalone-applications h1 {
    font-size: 2.6rem;
  }

  .standalone-applications-container {
    max-width: 80vw;
  }

  .crms-slider > div,
  .sms-slider > div {
    width: 70vw;
    height: 40vh;
  }

  .crms-wrapper,
  .sms-wrapper {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 768px) {
  section.standalone-applications h1 {
    font-size: 2.6rem;
  }

  .standalone-applications-container aside h2 {
    font-size: 1.8rem;
  }

  .standalone-applications-container aside h3 {
    font-size: 1.4rem;
  }

  .standalone-applications-container aside p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .crms-container,
  .sms-container {
    max-width: 90vw;
    height: 380px;
  }

  .crms-wrapper,
  .sms-wrapper {
    padding: 0;
  }

  .crms-slider > div,
  .sms-slider > div {
    width: 80vw;
    height: 35vh;
  }
}

@media (max-width: 600px) {
  section.standalone-applications h1 {
    font-size: 1.9rem;
  }

  .standalone-applications-container aside h2 {
    font-size: 1.5rem;
  }

  .standalone-applications-container aside h3 {
    font-size: 1.2rem;
  }

  .standalone-applications-container aside p {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  section.standalone-applications {
    padding-bottom: 150px;
  }

  .crms-container,
  .sms-container {
    max-width: 95vw;
  }

  .crms-slider > div,
  .sms-slider > div {
    width: 90vw;
    height: 30vh;
  }
}

@media (max-width: 475px) {
  .crms-container,
  .sms-container {
    height: 300px;
  }
}

@media (max-width: 425px) {
  section.standalone-applications h1 {
    font-size: 1.5rem;
  }

  .standalone-applications-container aside h2 {
    font-size: 1.1rem;
  }

  .standalone-applications-container aside h3 {
    font-size: 1rem;
  }

  .standalone-applications-container aside p {
    font-size: 0.7rem;
    line-height: 1;
  }

  section.standalone-applications {
    padding-bottom: 250px;
  }

  .crms-slider > div,
  .sms-slider > div {
    width: 95vw;
    height: 25vh;
  }

  .crms-container,
  .crsmsms-container {
    height: 260px;
  }
}

@media (max-width: 375px) {
  section.standalone-applications h1 {
    font-size: 1.2rem;
  }

  .standalone-applications-container aside h2 {
    font-size: 0.8rem;
  }

  .crms-slider > div,
  .sms-slider > div {
    width: 100vw;
    height: 20vh;
  }
}
